@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>RhinoTech</title>
        <meta name="description" content="Description" />

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Css/Site.css" rel="stylesheet" />

    </head>
    <body>
        @RenderBody()
    </body>
</html>