@model IEnumerable<RhinoTech.App.Models.HelperModels.NavigationItem>

<ul class="breadcrumbs">
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.Url" title="@item.Name">@item.Name &raquo;</a>
        </li>
    }
</ul>