@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="text-center"><h2>Door Controlpanel</h2></div>


    
    <div class="col-xs-12">
        
        <ul class="nav nav-pills nav-stacked">
            <li>
                <div class="text-center"><h3>Door 1</h3></div>
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#keypadModal">Manage Door 1</button>
                </div>

                <div class="btn-group btn-toggle">
                    <button class="btn btn btn-default" onclick="green('on'), red('off')">Door is Open</button>
                    <button class="btn btn btn-succes active" onclick=" red('on'), green('off')">Door is Locked</button>
                </div>

            </li>

            <li class="nav-divider"></li>

            <li>

                <div class="text-center"><h3>Door 2</h3></div>
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#keypadModal">Manage Door 2</button>
                </div>

                <div class="btn-group btn-toggle">
                    <button class="btn btn btn-default" onclick="green2('on'), red2('off')">Door is Open</button>
                    <button class="btn btn btn-succes active" onclick=" red2('on'), green2('off')">Door is Locked</button>
                </div>

            </li>

            <li class="nav-divider"></li>

            <li>
                <div class="text-center"><h3>Door 3</h3></div>
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#keypadModal">Manage Door 3</button>
                </div>

                <div class="btn-group btn-toggle">
                    <button class="btn btn btn-default" onclick="green3('on'), red3('off')">Door is Open</button>
                    <button class="btn btn btn-succes active" onclick=" red3('on'), green3('off')">Door is Locked</button>
                </div>
            </li>

            <li class="nav-divider"></li>

            <li>
                <div class="text-center"><h3>Door 4</h3></div>
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#keypadModal">Manage Door 4</button>
                </div>

                <div class="btn-group btn-toggle">
                    <button class="btn btn btn-default" onclick="green4('on'), red4('off')">Door is Open</button>
                    <button class="btn btn btn-succes active" onclick=" red4('on'), green4('off')">Door is Locked</button>
                </div>

            </li>

            <li class="nav-divider"></li>

        </ul>

    </div>

</div>

@Html.Partial("_KeypadForm")

    @section scripts {

        @*Insert scripts here!*@
        <script src="~/scripts/Custom/DoorControl.js"></script>
        <script src="~/scripts/Custom/Toggle.js"></script>
    }

