@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
<div class="text-center"><h1>Kontrolpanel for lageradgang og dørstyring</h1></div>


<div class=" btn btn-danger" onclick="go('w')">Danger Will Robinson</div>
<div class=" btn btn-success" onclick="go('s')">You won a cookie!</div>


<script type="text/javascript">
    function go(qry) {
        new Ajax.Request('doStuff.py?q=' + qry,
	    	{ method: 'GET' }
        );
    }
</script>