@model RhinoTech.App.Models.ViewModels.WarehouseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="text-center"><h2>Door Controlpanel</h2></div>



    <div class="col-xs-12">

        <ul class="nav nav-pills nav-stacked">

            @{
                int counter = 0;

                foreach (var door in Model.WarehouseDoors) //"door objekt instansieres så man kan hente Name og KeyPadForm fra vores WarehouseModel.  
                {
                    counter++; //counter da vi har fire døre.
                    
                    <!-- Da vi har fire døre i vores WarehouseModel hentes der fire frem i viewet. Dette giver muligheden for nemt at udvide med flere døre. -->
                    <li>
                        <div class="text-center"><h3>@door.Name</h3>
                            <div class="btn-group">
                                <!-- Target den keypadform.ID der vælges ud fra Manage Door knapperne på sitet, så vi har en Modal per ID..-->

                                <button class="btn btn-default" data-toggle="modal" data-target="#@door.KeypadForm.Id">Manage Door</button>
                            </div> 
                        </div>


                        @Html.Partial("_KeypadForm", door.KeypadForm)
                    </li>
                }
            }

            

        </ul>

    </div>

</div>



@section scripts {

    @*Insert scripts here!*@
    <script src="~/scripts/Custom/DoorControl.js"></script>
    <script src="~/scripts/Custom/Toggle.js"></script>
}