@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center"><h1>Kontrolpanel for lageradgang og dørstyring</h1></div>

<div class=" btn btn-danger">Danger Will Robinson</div>
<div class=" btn btn-success">You won a cookie!</div>