
/*fonts and colors*/



//Fonts
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
$archivo-black: 'Archivo Black';

//Colors
//Name colors using this tool: http://www.color-blindness.com/color-name-hue/
$empress: #878787;
$white-smoke: #f8f8f8;
$composite-border-top: white;
$composive-border-bottom: #dddddd;