@import "GlobalElements";
@import "DesignScheme";
@import "Christian";



//Layout styles
body {
    color: $empress;
    background: $white-smoke;
    font-family: $roboto;
    .mobile-menu-toggle {
        float: right;
        margin: 37px 0 0 20px;
    }
    header {
        height: 100px;
        padding: 20px;

        .btn {
            float:right;
            margin-top: 17px;
        }
        .header-logo {
            float: left;
            .header-logo-content {
                width: 240px;
                .logo-image {
                    width: 60px;
                    float: left;
                    img {
                        opacity: 0.5;
                        width: 50px;
                    }
                }
                .logo-text {
                    padding-top: 5px;
                    width: 180px;
                    float: right;
                    padding-left: 10px;
                    font-family: $archivo-black;
                    .logo-name {
                        font-size: 1.5em;

                    }
                    .logo-slogan {
                        font-size: 0.8em;
                    }
                }
            }
            
        }
        nav {
            float: right;
            margin-top: 20px;
            ul {
                font-size: 0;
                li {
                    border-right: 1px solid $composite-border-top;
                    border-left: 1px solid $composive-border-bottom;
                    display: inline;
                    font-size: 1.75rem;
                    padding: 0 15px;
                    &:first-child {
                        border-left: none;
                    }
                    &:last-child {
                        border-right: none;
                    }
                    &.active {
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .canvas {
        min-height: 500px;
    }

    footer {
        margin: 20px 0;
    }

    .breadcrumbs {
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0;
        li {
            display: inline;
        }
    }
}



//Front page
.front-page {
    .news-items {
        background: white;
        .news-item {
            padding: 10px 15px 0;
        }
    }
}

//Contact page
.contact-page{
    form {
        .row {
            margin-bottom: 10px;
        }
        label {
            width: 150px;
            vertical-align: top;
        }
        input[type="text"] {
            width: 300px;
        }
        input[type="submit"] {
            margin-left: 152px;
        }
        textarea {
            width: 300px;
            height: 150px;
        }
    }
}

.news-section {
    .news-items {
        
        .news-item-content {
            background: white;
            padding: 15px 15px 5px;
        }
    }
}

//intranet-home-page
.intranet-home-page {
    .section {
        min-height: 100px;
        background: white;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        padding: 5px 15px;
        margin-bottom: 20px;

        p {
            padding-bottom: 15px;
        }
    }
}

.product-management-page {
    .product {
        background: white;
        margin-bottom: 20px;
    }
}

.edit-product-page {
    input {
        margin-bottom: 15px;
    }
    textarea {
        height: 300px;
        margin-bottom: 15px;
    }
}

.keypad {
    .modal-dialog {
        width: 100%;
        margin-top:0;
        input {
            max-width: 300px;
            margin: 0 auto;
        }
        .numeric-keypad {
            margin-top: 10px;
            .btn-group {
                margin-top: 10px;
                button {
                    width: 100px;
                }
            }
        }
    }
    .door-status {
        width: 200px;
        height: 10px;
        margin: 10px auto;
        background: green;
        &.locked {
            background: red;
        }
    }
}