@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
/*fonts and colors*/
/*Reusable elements not specific for a particular page*/
html {
  font-size: 12px; }

h1, h2, h3 {
  font-family: 'Archivo Black'; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.2em;
  margin: 0 0 5px 0; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border-top: 1px solid white;
  border-bottom: 1px solid #dddddd; }
  hr.no-margin {
    margin: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

.carousel.fade {
  opacity: 1; }
  .carousel.fade .item {
    -moz-transition: opacity ease-in-out 0.7s;
    -o-transition: opacity ease-in-out 0.7s;
    -webkit-transition: opacity ease-in-out 0.7s;
    transition: opacity ease-in-out 0.7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1; }
    .carousel.fade .item:first-child {
      top: auto;
      position: relative; }
    .carousel.fade .item.active {
      opacity: 1;
      -moz-transition: opacity ease-in-out 0.7s;
      -o-transition: opacity ease-in-out 0.7s;
      -webkit-transition: opacity ease-in-out 0.7s;
      transition: opacity ease-in-out 0.7s;
      z-index: 2; }

.carousel .item {
  height: 300px;
  background-size: cover !important;
  background-position: top center !important; }

.page-header {
  margin-bottom: 20px;
  padding: 0;
  border: none; }

.grid-section .column > div {
  margin-bottom: 20px; }
.grid-section .container {
  margin: 0;
  padding: 0; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

/*fonts and colors*/
body {
  color: #878787;
  background: #f8f8f8;
  font-family: 'Roboto'; }
  body .mobile-menu-toggle {
    float: right;
    margin: 37px 0 0 20px; }
  body header {
    height: 100px;
    padding: 20px; }
    body header .btn {
      float: right;
      margin-top: 17px; }
    body header .header-logo {
      float: left; }
      body header .header-logo .header-logo-content {
        width: 240px; }
        body header .header-logo .header-logo-content .logo-image {
          width: 60px;
          float: left; }
          body header .header-logo .header-logo-content .logo-image img {
            opacity: 0.5;
            width: 50px; }
        body header .header-logo .header-logo-content .logo-text {
          padding-top: 5px;
          width: 180px;
          float: right;
          padding-left: 10px;
          font-family: 'Archivo Black'; }
          body header .header-logo .header-logo-content .logo-text .logo-name {
            font-size: 1.5em; }
          body header .header-logo .header-logo-content .logo-text .logo-slogan {
            font-size: 0.8em; }
    body header nav {
      float: right;
      margin-top: 20px; }
      body header nav ul {
        font-size: 0; }
        body header nav ul li {
          border-right: 1px solid white;
          border-left: 1px solid #dddddd;
          display: inline;
          font-size: 1.75rem;
          padding: 0 15px; }
          body header nav ul li:first-child {
            border-left: none; }
          body header nav ul li:last-child {
            border-right: none; }
          body header nav ul li.active a {
            text-decoration: underline; }
  body .canvas {
    min-height: 500px; }
  body footer {
    margin: 20px 0; }
  body .breadcrumbs {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0; }
    body .breadcrumbs li {
      display: inline; }

.front-page .news-items {
  background: white; }
  .front-page .news-items .news-item {
    padding: 10px 15px 0; }

.contact-page form .row {
  margin-bottom: 10px; }
.contact-page form label {
  width: 150px;
  vertical-align: top; }
.contact-page form input[type="text"] {
  width: 300px; }
.contact-page form input[type="submit"] {
  margin-left: 152px; }
.contact-page form textarea {
  width: 300px;
  height: 150px; }

.news-section .news-items .news-item-content {
  background: white;
  padding: 15px 15px 5px; }

.intranet-home-page .section {
  min-height: 100px;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 20px; }
  .intranet-home-page .section p {
    padding-bottom: 15px; }

.product-management-page .product {
  background: white;
  margin-bottom: 20px; }

.edit-product-page input {
  margin-bottom: 15px; }
.edit-product-page textarea {
  height: 300px;
  margin-bottom: 15px; }

/*# sourceMappingURL=Site.css.map */